.DashboardForm {
  display: grid;
  grid-template-columns: 10fr 70fr 20fr;
  grid-template-rows: 10vh 50vh 10vh;
  width: 100%;
  height: 70vh;
  padding-bottom: 15vh;

  //User profile
  .Description {
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    padding-left: 1rem;

    :nth-child(1) {
      font-size: 0.7rem;
    }
  }
  h1 {
    grid-row: 1;
    grid-column: 2;
    font-size: 1.5rem;
    align-self: center;
    z-index: 10;
  }
  .ProductCardWrapper {
    grid-row: 2;
    grid-column: 2;
    // background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 3rem;

    border: 0.05rem solid black;
    border-radius: 0.3rem;

    overflow-y: auto;
    scrollbar-width: none;
    width: 100%;
  }

  .ProductCard {
    display: flex;
    flex-direction: column;
    padding: 1.7rem;
    border: 0.05rem solid black;
    border-radius: 0.3rem;
    width: 100%;
    background-color: rgb(237, 237, 237);
    gap: 2rem;

    :nth-child(1) {
      font-size: 0.7rem;
      font-weight: bold;
    }
  }

  table {
    width: 100%; /* Make the table take the full width of the ProductCard */
    // height: auto; /* Allow table height to adjust based on content */
    border-collapse: collapse;
  }

  th {
    font-size: 0.7rem;
    padding-bottom: 0.7rem;
  }

  td {
    padding-inline: 0.7rem;
    text-align: center;
  }

  input {
    text-align: right;
    width: 100%;
    padding-block: 0.1rem;
    padding-inline: 0.3rem;
    margin-bottom: 1rem;
  }

  .WrapperRight {
    grid-row: 2;
    grid-column: 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70fr 30fr;
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    padding-inline: 1rem;
    font-size: 0.75rem;
    height: 100%;

    .PlannableProducts {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 100%;
      height: 100%;
      border-radius: 0.3rem;
      background-color: rgb(237, 237, 237);

      :nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        overflow-y: auto;
        scrollbar-width: none;
      }

      .PlannableElements {
        border: 0.07rem solid black;
        border-radius: 0.2rem;
        padding: 0.1rem;
        width: 12vw;
        text-align: center;
      }
    }

    .Views {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;
      width: 100%;
      padding-block: 1.5rem;
      border-radius: 0.3rem;
      background-color: rgb(237, 237, 237);
      height: 100%;

      :nth-child(2) {
        display: flex;
        flex-direction: row;
        gap: 4rem;
      }
    }
  }

  .CreateProduct {
    grid-row: 3;
    grid-column: 2;
    background-color: lightgreen;
    font-size: 0.7rem;
    padding-inline: 2.5rem;

    display: grid;
    grid-template-rows: repeat(3, 1fr);

    form {
      grid-row: 2;
    }

    .CreateWrapper {
      grid-row: 2;
      display: flex;
      justify-content: space-between;

      label {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
